<!--Home-->
<section class="home" id="home">
    <div class="home__container bd-grid">
        <div class="home__sneakers">
            <div class="home__shape"></div>
            <img src=".../../../../../assets/img/jean-home.png" alt="" class="home__img">
        </div>

        <div class="home__data">
            <span class="home__new">New in</span>
            <h1 class="home__title">YEEZY BOOST<br> SPLY - 350</h1>
            <p class="home__description">Explore the new collection of sneakers</p>
            <a href="#" class="button">Explore now</a>
        </div>
    </div>
</section>