        <!--offer-->
        <section class="offer section">
            <div class="offer__container bd-grid">
                <div class="offer__data">
                    <h3 class="offer__title">50% OFF</h3>
                    <p class="offer__description">In Addidas superstar sneaker</p>
                    <a href="#" class="button">Shop now</a>
                </div>
                <img src=".../../../../../assets/img/jean-offert.png" alt="" class="offer__img">
            </div>
        </section>